.flex {
  display: flex
}

.hidden {
  display: none
}

.p-10 {
  padding: 2.5rem
}

.p-5 {
  padding: 1.25rem
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
